html,body,.website{ 
    height: 100%;
    margin: 0;
    padding: 0;
}
.website{ 
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gothic A1", sans-serif;
    
}
a{ 
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.part1{ 
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);

   
}
.part1-header{ 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    
}
.box1{ 
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.minibox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#mobile{ 
    height: 100vh;
    position: fixed;
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    display: none;
    padding-top: 40px;
    padding-left: 25px;
    opacity: 0,8;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}
@keyframes show{ 
    from{ 
        width: 0%;
    }
    to{ 
        width: 50%;
    }
}
@keyframes hide {
    from{ 
        width: 50%;
    }
    to{ 
        width: 0%;
    }
}

.minibox5{ 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.mobile-logo{ 
    height: 40px;
}
.white{ 
    color: white;
}
.mobile-box1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.box4{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.open-box{ 
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: start;
    display: none;
    
}
.cursor{ 
    display: flex;
    align-items: center;
    gap: 5px;
}

.header{ 
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.red{ 
    color: red;
}
.black{ 
    color: black;
}
.container{ 
    width: 80%;
    display: flex;
    gap: 45px;
}

.sidebar1{ 
    width: 60%;
    display: flex;
    flex-direction: column;
}
.box3{
background: rgba(255, 255, 255, 1);
box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
padding: 10px;
border-radius: 12px;
}
.big-font{ 
    font-size: x-large;
}
.box3-header{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box3-subheader{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box3-body{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-box1{ 
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}
.box3-footer{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.medium-font{ 
    font-size: larger;
}
.gray{ 
    color: gray;
}
.box5{
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
}
.background{ 
    background: rgba(141, 211, 187, 1);
    border-radius: 6px;
}
.pointer{ 
    cursor: pointer;
}
.box5-header{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.small{ 
    font-size: large;
}
.smaller{ 
    font-size: medium;
}
.box5-body{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smallest{ 
    font-size: smaller;
}
#chekbox1{ 
    cursor: pointer;
}

.box6{ 
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box6-header{ 
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.input1{ 
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(121, 116, 126, 1)
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.box6-body{ 
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box6-footer{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.continue{ 
    width: 100%;
    background: rgba(141, 211, 187, 1);
    height: 45px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.box6-minibox1{ 
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.box6-minibox1 img{ 
    width: 32%;
}
.sidebar2{ 
    width: 40%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    height: 450px;
}
.sidebar2-header{ 
    width: 100%;
    display: flex;
    gap: 5px;
}
.box7{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box7-minibox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.center{ 
    text-align: center;
}
.bold{ 
    font-weight: bold;
}
.box8{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.minibox6{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image2{ 
    width: 100%;
}
.box9{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    gap: 20px;
    padding: 10px;
    display: none;
    margin-top: 30px;
    
}
.box9-header{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.minibox7{ 
    display: flex;
    gap: 15px;
    align-items: center;
}
.card{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.fieldset1{ 
    width: 400px;
    border-radius: 6px;
}
.fieldset-box1{ 
    display: flex;
    gap: 10px;
    
}
.fieldset2{ 
    width: 180px;
    border-radius: 6px;
}
.card-div{ 
    width: 100%;
    display: flex;
    justify-content: start;
}

.card-button{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(141, 211, 187, 1);
    height: 50px;
    border-radius: 7px;
}

@media screen and (max-width:1144px) {
    .box3-body{ 
        flex-direction: column;
        gap: 10px;
 
    }
    .image1{ 
        width: 15%;
    }
    .small-font{ 
        font-size: small;
    }
    .medium-font{ 
        font-size: medium;
    }
}


@media screen and (max-width:768px) {
    .part1-header{ 
        display: none;
    }
    .open-box{ 
        display: flex;
    }
    .container{ 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:710px) {
  .box3-footer{ 
    flex-direction: column;
  }
}

@media screen and (max-width:740px){ 
    .sidebar2-header{ 
        flex-direction: column;
    }
} 

@media screen and (max-width:540px) {
.emirates{ 
    width: 80%;
}
.img-box1{ 
    flex-direction: column;
}
.line{ 
    display: none;
}
}

