html,body,.website{ 
    height: 100%;
    padding: 0;
    margin: 0;
}
.website{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header{ 
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}
.box1{ 
    display: flex;
    align-items: center;
    gap: 20px;
}
.box2{ 
    display: flex;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width:768px) {
    .header{ 
        display: none;
    }
    
}
/*this is header of website for laptops and larger screen sizes */

.open-box-container{ 
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    position: fixed;
    z-index: 9;
    opacity: 0.90;
    display: none;
}
.header-mobile{ 
    background-color: rgb(120, 0, 120);
    display: flex;
    width: 0%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 999;
    left: 0;
    display: none;
}
.userinfomobile{ 
    color: white;
}
.box3{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box4{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
@keyframes show{ 
    from{ 
        width: 0%;
    }
    to{ 
        width: 50%;
    }
}
@keyframes hide {
    from{ 
        width: 50%;
    }
    to{ 
        width: 0%;
    }
}
@media screen and (max-width:768px) {
    .open-box-container{ 
        display: flex;
    }
}
@media screen and (max-width:480px) {
    .box3{ 
        flex-direction: column;
    }
}

@keyframes showProfile{ 
    from{ 
        width: 0px;
        height: 0px;
    }
    to{ 
        width: 300px;
        height: 300px;
    }
}
@keyframes hideProfile {
    from{ 
        width: 300px;
        height: 300px;
    }
    to{ 
        width: 0px;
        height: 0px;
    }
}
a{ 
    text-decoration: none;
    color: inherit;
}
.profile-part3{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.profile{ 
   width: 300px;
   height: 300px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    right: 100px;
    gap: 20px;
    z-index: 99;
    top: 60px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: none;
}
.footer-image{ 
    width: 100%;
    margin-top: 30px;
}
.profile-part1{ 
    display: flex;
    align-items: center;
    gap: 8px;
}
.minibox1{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.smallest-text{ 
    color: gray;
    font-size: small;
}
.profile-part2{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
}
.minibox2{ 
    display: flex;
    align-items: center;
    gap: 5px;
    
}
#profileBtn{ 
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
/* header for laptops, larger screens and mobile is done here */
#profileBtn2{ 
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.image-container{ 
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box5{ 
    position: absolute;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    top: 85%;
    border-radius: 16px;
    padding-bottom: 20px;
}
.title{ 
    font-size: x-large;
}
.fieldset-box{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fieldset1{ 
    display: flex;
    align-items: center;
    gap: 5px;
    width: 30%;
    border-radius: 8px;
}
.fieldset{ 
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    width: 15%;
}
.box5-footer{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.main-image{ 
    width: 100%;
}
/* here top side of web is done */
.box6{ 
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 20px;
}
.box6-box{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small-title{ 
    font-size: medium;
}
.small-subtitle{ 
color: gray;
font-size: small;
}
.box6-container{ 
    display: flex;
    gap: 6px;
    align-items: center;

}


.box7{ 
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    
}
.box7-minibox{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
.normal-text{ 
    font-size: larger;
}

.box8{ 
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}
.box8-box1{ 
    background-image: url(images8/Rectangle\ 3\ \(4\).svg);
    background-size: cover;
    height: 400px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.box8-box2{ 
    background-image: url(images8/Rectangle\ 4\(1\).svg);
    background-size: cover;
    height: 400px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.box8-box3{ 
    background-image: url(images8/Rectangle\ 5.svg);
    background-size: cover;
    height: 400px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.box8-box4{ 
    background-image: url(images8/Rectangle\ 6.svg);
    background-size: cover;
    height: 400px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.minibox3{ 
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}
.img{ 
    width: 100%;
}
.small-box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.title2{ 
    color: white;
    font-size: x-large;
}
.small-text2{ 
    color: white;
    font-size: large;
}
.box9{ 
    width: 80%;
    margin-top: 20px;
}

.box10{ 
    width: 80%;
    display: flex;
   align-items: center;
   margin-top: 20px;
   gap: 20px;
}
.box10-part1,.box10-part2{ 
    width: 50%;
}

.box10-part1{ 
    display: flex;
    flex-direction: column;
    background: rgba(141, 211, 187, 1);
    border-radius: 20px;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.box10-part1-header{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.big-title{ 
    font-size: xx-large;
}
.another-box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box10-part1-body{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foto1{ 
    width: 90%;
    margin-top: 80px;
}
.box10-part2-container1{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box10-part2-container1 img{ 
    width:50% ;
}

#profileBtnMobile{ 
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
@media screen and (max-width:907px) {
    .box8{ 
        justify-content: center;
        gap: 10px;
    }
    .box5{ 
        flex-wrap: wrap;
    }
    .fieldset-box{ 
        flex-wrap: wrap;
    }
}

@media screen and (max-width:496px) {
    .box6-box{ 
 
        justify-content: center;
        gap: 15px;
        align-items: center;
    }
}

@media screen and (max-width:870px) {
 
    .box6{ 
        margin-top: 270px;
    }
}

@media screen and (max-width:664px) {
.box6{ 
    margin-top: 350px;
}
}

@media screen and (max-width:768px) {
    .box7-minibox{ 
        flex-direction: column;
        gap: 0px;
    }
}

@media screen and (max-width:1430px) {
    .box10{ 
        flex-direction: column;
    }
}

@media screen and (max-width:768px){
    .box10-part2{ 
        width: 100%;
    }
    .box10-part1{ 
        width: 100%;
    }
}






    



