html,body,.website{ 
    height: 100%;
    padding: 0;
    margin: 0;
}
.website{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: "Gothic A1", sans-serif;
    padding-top: 500px;
   
}
.title{ 
    font-size: xx-large;
    font-weight: bold;
    font-family: "Gothic A1", sans-serif;
}
.subtitle{ 
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
color: gray;
font-family: "Gothic A1", sans-serif;

}
.box1{ 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 100%;
}
.part1{ 
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    
}
.input{ 
    border: none;
    outline: none;
    width: 100%;
    font-size: larger;
}
.fieldset{ 
    width: 100%;
    border-radius: 4px
    
}
legend{ 
    font-size: medium;
}
.box2{ 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 100%;
}
.part1-container{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 34%;
}
.fieldset2{ 
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.box3{ 
    display: flex;
    align-items: center;
    gap: 85px;
    width: 100%;
}
.minibox1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Gothic A1", sans-serif;
}
.forget{
     color: red;
     font-family: "Gothic A1", sans-serif;
}
.box4{ 
    display: flex;
    align-items: center; 
    justify-content: start;
    width: 100%;
}
.box4 img{ 
    cursor: pointer;
   width: 100%;
}
.or{ 
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.or img{ 
    width: 100%;
}
.footer{ 
width: 100%;
}
.footer img{ 
    width: 100%;
} 
.part2 img{ 
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}
.part2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width:768px) {
    .website{
        flex-direction: column;
    }
    .part1-container{ 
        width: 60%;
    }
}


