html,body,.website{ 
    height: 100%;
    padding: 0;
    margin: 0;
}

.website{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}


.part2 img{ 
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}
.part1{ 
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.input{ 
    border: none;
    outline: none;
    width: 100%;
    font-size: larger;
}
.fieldset{ 
    width: 300px;
    border-radius: 4px;
}
legend{ 
    font-size: medium;
}
.box2{ 
    display: flex;
    
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.part1-container{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fieldset2{ 
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.box3{ 
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.minibox1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Gothic A1", sans-serif;
}
.forget{
     color: red;
     font-family: "Gothic A1", sans-serif;
}
.box4{ 
    display: flex;
    align-items: center; 
    justify-content: start;
    width: 100%;
}
.box4 img{ 
    cursor: pointer;
   width: 100%;
}
.or{ 
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.or img{ 
    width: 100%;
}
.footer{ 
width: 100%;
}
.footer img{ 
    width: 100%;
} 
.box5{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fieldset3{ 
    display: flex;
    border-radius: 4px;
}
.box6{ 
    display: flex;
    gap: 10px;
}.minibox{ 
    display: flex;
    gap: 5px;
}
.red{ 
    color: red;
}
.part2{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1110px) {
    .website{
        flex-direction: column;
        padding-top: 400px;
    }
}