html,body,.website{ 
    height: 100%;
    margin: 0;
    padding: 0;
}
.website{ 
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gothic A1", sans-serif;
    
}
a{ 
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.part1{ 
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);

   
}
.part1-header{ 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    
}
.box1{ 
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.minibox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#mobile{ 
    height: 100vh;
    position: fixed;
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    display: none;
    padding-top: 40px;
    padding-left: 25px;
    opacity: 0,8;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}
@keyframes show{ 
    from{ 
        width: 0%;
    }
    to{ 
        width: 50%;
    }
}
@keyframes hide {
    from{ 
        width: 50%;
    }
    to{ 
        width: 0%;
    }
}

.minibox5{ 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.mobile-logo{ 
    height: 40px;
}
.white{ 
    color: white;
}
.mobile-box1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.box4{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.open-box{ 
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    display: none;
    
}
.cursor{ 
    display: flex;
    align-items: center;
    gap: 5px;
}
.header{ 
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{ 
    width: 80%;
    display: flex;
    flex-direction: column;

}
.container-header{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.title{ 
    font-size: x-large;
    
}
.subheader{ 
    display: flex;
    align-items: center;
    gap: 6px;
}
.cont-header-box2{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-header-box{ 
    display: flex;
    justify-content: space-between;
}
.container-body{ 
    width: 100%;
    display: flex;
}
.subheader{ 
    color: gray;
    font-size: medium;
}
.body-part1{ 
   width: 25%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   background: rgba(235, 246, 242, 1);
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   
}
.body-part1 img{ 
    width: 20%;
}
.body-part2{ 
    width: 30%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.header-part2{ 
    background: rgba(141, 211, 187, 1);
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-part2{ 
    background: rgba(255, 255, 255, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.small-head2{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.small-footer2{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.body-part3{
    background-image: url(images7/Frame\ 239.svg);
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.minibox1{ 
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.small-box{ 
    display: flex;
    flex-direction: column;
}
.container-terms{ 
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subtitle{ 
    font-size: larger;

}
.web-footer{ 
    width: 100%;
    margin-top: 40px;
}
.web-footer img{ 
    width: 100%;
}
@media screen and (max-width:768px) {
    .part1-header{ 
        display: none;
    }
    .open-box{ 
        display: flex;
    }
}

@media screen and (max-width:1000px) {
    .container-body{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body-part1{ 
        width: 100%;
       
       
    }
    .body-part1 img{ 
        width: 5%;
    }
    .body-part2{ 
        height: 300px;
    }
}

@media screen and (max-width:710px) {
    .small-head2{ 
        gap: 0px;
    }
}

@media screen and (max-width:550px) {
    .small-head2 img{ 
        width: 20%;
    }
    .small-footer2 img{ 
        width: 50%;
    }
}

@media screen and (max-width:500px) {
    .small-head2{ 
        flex-direction: column;
        align-items: start;
        justify-content: center;

    }

    .small-head2 img{ 
        width: 30%;
    }
}

.profile-part3{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.profile{ 
   width: 300px;
   height: 300px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    right: 100px;
    gap: 20px;
    z-index: 99;
    top: 60px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

.profile-part1{ 
    display: flex;
    align-items: center;
    gap: 8px;
}
.minibox1{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.smallest-text{ 
    color: gray;
    font-size: small;
}
.profile-part2{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
}
.minibox2{ 
    display: flex;
    align-items: center;
    gap: 5px;
    
}
#profileBtn{ 
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#profileBtn2{ 
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#profileBtn3{ 
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
