html,body,.website{ 
    height: 100%;
    padding: 0;
    margin: 0;
}
.website{ 
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
a{ 
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.part1{ 
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);

   
}
.part1-header{ 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1{ 
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.minibox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#mobile{ 
    height: 100vh;
    position: fixed;
    width: 50%;
    background-color: blueviolet;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    display: none;
    padding-top: 40px;
    padding-left: 25px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.minibox5{ 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


}
.web-footer{ 
    width: 100%;
}
.mobile-logo{ 
    height: 40px;
}
.white{ 
    color: white;
}
.mobile-box1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.box4{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.open-box{ 
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: start;
    display: none;
    
}
.body{ 
    width: 80%;
    margin-top: 50px;
}
.body-top-header{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 15px;
}
.red{ 
    color: rgba(255, 134, 130, 1);
    font-size: medium;

}
.small-black{ 
    color: rgba(17, 34, 17, 1);
    font-size: medium;

}

.body-down-header{ 
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 15px;

}
.title{ 
    font-weight: bold;
    font-size: x-large;
    width: 100%;
}
.minibox2{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small-box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.big-font{ 
    font-size: x-large;
}
.font-bold{
    font-weight: bold;

}
.img-container{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.img-container img{ 
width: 100%;
height: auto;
}
.body-footer{ 
    width: 100%;
}
.footer-top-header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.smaller-box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.smaller-box div{ 
    font-size: smaller;
}
.footer-middle-header{ 
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;


}
 .footer-middle-header img{ 
width: 10%;   
height: auto;
} 
.small-box1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.footer-bottom-header{
    width: 100%;
    background: rgba(141, 211, 187, 0.6);
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    height: 100px;
    margin-top: 25px;
}
.minibox3{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.smaller-box1{ 
    display: flex;
    gap: 5px;
}
.footer{ 
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.footer-box{ 
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    background: rgba(255, 255, 255, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:300px;
    padding: 20px;
}
.footer-box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.footer-box-body{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-box-footer{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.last{ 
    width: 100%;
    margin-top: 50px;
}
.last img{ 
    max-width: 100%;
  max-height: 100%; 
  width: 100%;
}
.cursor{ 
    display: flex;
    align-items: center;
    gap: 5px;
}
#profileBtn{ 
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#profileBtn2{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a{ 
    text-decoration: none;
    color: inherit;
}
.profile-part3{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.profile{ 
   width: 300px;
   height: 300px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    right: 100px;
    gap: 20px;
    z-index: 99;
    top: 60px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: none;
}
.footer-image{ 
    width: 100%;
    margin-top: 30px;
}
.profile-part1{ 
    display: flex;
    align-items: center;
    gap: 8px;
}
.minibox1{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.smallest-text{ 
    color: gray;
    font-size: small;
}
.profile-part2{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
}
.minibox4{ 
    display: flex;
    align-items: center;
    gap: 5px;
    
}
#profileBtn{ 
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#profileBtn3{ 
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


@keyframes show{ 
    from{ 
        width: 0%;
    }
    to{ 
        width: 50%;
    }
}
@keyframes hide {
    from{ 
        width: 50%;
    }
    to{ 
        width: 0%;
    }
}
@media screen and (max-width:768px) {
    #laptop{ 
        display: none;
    }
    .open-box{ 
        display: flex;
    }
    .footer-middle-header{ 
        flex-wrap: wrap;
    }
    .footer-middle-header img{ 
        width: 14%;
    }
}

 @media screen and (max-width:1286px){ 
    .footer-middle-header img{ 
        width: 9%;
    }   
} 



@media  screen and (max-width:768px) {
    .footer-middle-header img{ 
        width: 14%;
    }
    .title{ 
        font-size: larger;
    }
    .body{ 
        width: 100%;
    }
   
}

@media  screen and (max-width:600px){
.small-box1{ 
    flex-wrap: wrap;
}
.small-black{ 
    font-size: small;
}
.footer-bottom-header{ 
    text-align: center;
    align-items: center;
    justify-content: center;
}
.minibox3{ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.smaller-box1{ 
    align-items: center;
}
}
@media screen and (max-width:768px) {
    .footer{ 
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .footer-box{ 
        width: 90%
    }
    .footer-box-body{ 
        flex-direction: column;
    }
    .footer-box-footer{ 
        flex-wrap: wrap;
    }
    .footer-box-body img{ 
        width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    }
}

@media screen and (max-width:415px) {
    .box4{ 
        flex-direction: column;
    }
}